<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="form-group">
            <a href="signup">signup</a>
        </div>
        <h3>Login</h3>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Username</label>
                    <div class="input-group"> <span class="input-group-addon"><span
                                class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                </div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group"> <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password">
                            </div>
                        </div>
                        <input type="hidden" name="csrf" id="csrf" required value="${login_details["csrfToken"]}">
                        % if login_details["unencrypted_state"]:
                        <input type="hidden" name="state" id="state" required value="${login_details["unencrypted_state"]}">
                        % endif
                        <div class="form-group">
                            <img src="${login_details["captcha"]}" alt="CAPTCHA">
                        </div>
                        <div class="form-group">
                            <label>Common term</label>
                            <div class="input-group"> <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-question-sign"></span></span>
                                <input type="text" class="form-control" name="captcha" id="captcha"
                                    placeholder="What do you see in most of the pictures?">
                            </div>
                        </div>
                        <div class="form-group">
                             <button type="submit" onclick="runSubmitLogin();" name="submit" id="submit" class="buttonload btn btn-primary pull-right">
                                 <i id="spinner"></i> Submit
                             </button>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                             <p id="errorMessage" style="visibility: hidden;" class="pull-right">Please try again</p>
                        </div>
            </div>
        </div>
   </div>
    <script type="module" src="signum-bundle.min.js?v=6"></script>
    <script type="module">
        $(document).ready(function () {
            const password = document.getElementById("password")
            const username = document.getElementById("username")
            const captcha = document.getElementById("captcha")

            addFocusListener(username)
            addFocusListener(password)
            addFocusListener(captcha)

            addSubmitListenr(username)
            addSubmitListenr(password)
            addSubmitListenr(captcha)
        })

        window.addFocusListener = function addFocusListener(element) {
            element.addEventListener('click', (event) => {
                  hideErrorMessage();
            });
        }

        window.addSubmitListenr = function addSubmitListener(element){
            element.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    runSubmitLogin();
                }
            });
        }

        window.hideErrorMessage = function hideErrorMessage() {
              document.getElementById('errorMessage').style.visibility = "hidden";
        }

         window.runSubmitLogin = async function runSubmitLogin() {
            let res;

            document.getElementById("spinner").classList.add("fa", "fa-spinner", "fa-spin");

            try{
                res = await Signum.executeLogin(
                 document.getElementById("username").value, //username
                 document.getElementById("password").value, //password
                 "submit-login", //loginUrl
                 ${login_details["server-instructions"]}, //server instructions
                 window.location.pathname, //referrer
                 "${login_details['state'].decode("utf-8")}", //state
                 document.getElementById("captcha").value, //captcha
                 document.getElementById("csrf").value //csrf token
             )
            }catch (e) {
                console.log(e)
                document.getElementById("spinner").classList.remove("fa", "fa-spinner", "fa-spin");
                document.getElementById('errorMessage').style.visibility = "visible";
                return;
            }

             if (res && res.passed) {
                 console.log(res)
                 window.location.href = "post-login?session_key=" + res.session_key;
                 return
             }
             document.getElementById("spinner").classList.remove("fa", "fa-spinner", "fa-spin");
             document.getElementById('errorMessage').style.visibility = "visible";
         }
    </script>
</body>

</html>